body{
    width: 100%;
    margin: 0;
    background-color: #eefeff;
}

a{
    text-decoration: none;
    color: #d3d3d3;
}

nav{
    position: relative;
    background-color: black;
    color: #A0D8B3;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.barra-navegacion{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    padding: 5px 22px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-family: 'Rajdhani', sans-serif;
    width: 500px;
    margin-right: 30px;
    font-size: 17px;
}


.contenedor-mitades{
    display: inline-flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 20px;
}

.contenedor-izquierda{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 50px;
}

.contenedor-img{
    display: flex;
    margin-right: 30px;
    margin-left: 50px;
    padding: 50px;
    width: 350px;
    height: 350px;
    
}


img{
    /*box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;*/
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

h2 h1{
    font-family: 'Goldman', cursive;
}

h1{
    font-size: 50px;
    margin-top: 0%;
    margin-bottom: 0%;
}

.contenedor-boton{
    background-color: rgb(28, 1, 39);
    color: #ffffff;
    padding: 8px 30px;
    border-radius: 25px;
    font-family: 'Rajdhani', sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.letra-source{
    font-family: 'Source Code Pro', monospace;
    font-style: italic;
}

.boton-size{
    align-self: flex-start;
}


/*Main content

section{
    background-color: #A0D8B3;
}

.container-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.articles-position{
    display: flex;
    flex-wrap: wrap;
}

.icon{
    display: flex;
    padding: 20px;
    background-color: #ffffff;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: transparent;
}

/*.left-align{
    display: flex;
    margin: 50px;
    flex-direction: column;
    align-items:center;
}

.right-align{
    display: flex;
    margin: 50px;
    flex-direction: column;
    align-items: center;
}

.title-center{
    margin-top: 90px;
    font-size: 60px;
}

.parrafo-centro{
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Tomorrow', sans-serif;
}

.formato-caja{
    display: inline-block;
}

.html-icon{
    color: #eb6631;
}

.seccion-comillas{
    margin: 0;
    background-color: burlywood;
}




