
body{
    margin: 0;
    background-color: #eefeff;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
header{
    position: sticky;
    top: 0;
    z-index: 5;
}
a{
    text-decoration: none;
    color: inherit;
}
nav{
    width: 100%;
    background-color: black;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    height: 13vh;
}


.contenedor-nav{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 5;
    display: flex;
    justify-content: flex-end;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    
}
.lista-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-family: 'Rajdhani', sans-serif;
    width: 50vw;
    margin-right: 30px;
    font-size: 1.3em;
}
.contenedor-presentacion{
    text-align: left;
    display: flex;
    align-items: center;
    background-color: #ebe9f3;
    padding-top: 10em    ;
    padding-bottom: 150px;
    
}
.presentacion{
    display: flex;
    flex-direction: column;
    font-size: 2em;
    font-family: 'Source Code Pro', monospace;
    color: #000000;
}

.contenedor-img{
    display: flex;
    padding: 20px;
    
}

img{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

h2 {
    font-family: 'Goldman', cursive;
}

h1{
    font-size: 2em;
    font-family: 'Goldman', cursive;
    color: #62c8bf;
    margin: 0;
}

.contenedor-boton{
    background-image: radial-gradient(circle, #86c29a, #62c8bf, #5bc8e4, #85c3fa, #bfb9f9);
    width: 12em;
    height: 5em;
    color: #ffffff;
    border: transparent;
    font-size: 0.6em;
    padding: 5px;
    border-radius: 50px;
    font-family: 'Source Code Pro', monospace;   
    box-shadow: 3px 3px 3px black;
    transition: transform, box-shadow, 0.5;
}
.contenedor-boton:active{
    transform: translate(2px, 2px);
}
.contenedor-boton:hover{
    background-image: radial-gradient(circle, #bfb9f9, #85c3fa, #5bc8e4, #62c8bf, #86c29a);
}



.boton-start{
    align-self: flex-start;
    margin-top: 1em;
}
.lista-link:hover{
    color: #BFB9F9;
}



@media (max-width: 300px){
    
    .contenedor-boton{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .contenedor-presentacion{
        display: flex;
        flex-direction: column;
        align-content: center;
        text-align: center;
    }
    
    .contenedor-nav{
            display: none;
        }

}

@media (min-width: 300px) and (max-width: 1100px){
    .contenedor-presentacion{
        display:flex;
        flex-direction: column;
        align-content: center;
        text-align: center;
    }
    .boton-size{
        align-self: center;
        text-align: center;
    }   
    .contenedor-nav{
        display: none;
    } 
    .contenedor-boton{
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
}


/*escritorio*/
@media (min-width:1100px){
    .contenedor-presentacion{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /*margin-top: 150px;*/
    }
    .presentacion{
        margin-top: 150px;
        margin-bottom: 50px;
        font-size: 20px;
        align-self: flex-end;
    }
    .contenedor-img{
        width: 400px;
        height: 400px;
        align-self: center;
    }
}

.contenedor-conocimientos{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
    margin: 0;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    
}


.parrafo-seccion{
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Rajdhani', sans-serif;
    color: #505050;
}

.carta{
    background-color: #BFB9F9;
    width: 20em;
    height: 18em;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    margin: 10px;
    /*border: 1px solid #d1d1d1;*/
    display: flex;
    flex-direction: column;
    align-items: center;   
    align-content: center;
    text-align: center;
    font-family: 'Goldman', cursive;
    
}
.carta:hover{
    background-color: #62c8bf;
}

.posicion-articulos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 15em;
    margin-right: 15em;
}
.fa-html5, .fa-css3-alt, .fa-sass, .fa-js, .fa-react, .fa-git-alt{
    /*margin: 2px;*/
    padding-top: 60px;
    font-size: 130px; 
    align-self: center;
    color: #ffffff;
    
}
.h3{
    font-family: 'Goldman', cursive;
    margin-top:  0;
}

.titulo-seccion{
    padding-top: 200px;
    margin: 0;
    font-size: 5vw;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    
}

/*tamaño minimo*/
@media (max-width: 300px){
    .carta {
        width: 13em;
        height: 11em;
    }

    .titulo-seccion{
        font-size: 1em;
    }

    .fa-html5, .fa-css3-alt, .fa-sass, .fa-js, .fa-react, .fa-git-alt{
        
        font-size: 70px; 
        align-self: center;
    }
    .contenedor-nav{
        display: none;
    } 
}
/*tamaño mediano*/
@media (min-width: 300px) and (max-width: 600px) {
    .posicion-articulos {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    }

    .carta {
        width: 15em;
        height: 13em;
        
    }

    .titulo-seccion{
        font-size: 2em;
    }

    .fa-html5, .fa-css3-alt, .fa-sass, .fa-js, .fa-react, .fa-git-alt{
        
        font-size: 100px; 
        align-self: center;
    }
    .contenedor-nav{
        display: none;
    }
    .posicion-articulos{
        
        margin-left: 0;
        margin-right: 0;
    } 
    }
    
    /*tamaño escritorio/tablet*/
    @media (max-width: 1000px) and (min-width: 600px) {
        .posicion-articulos {
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
        }
        .posicion-articulos{
            margin-left: 0;
            margin-right: 0;
        }
        
    }
    @media (max-width: 1300px){
        .posicion-articulos{
            
            margin-left: 0;
            margin-right: 0;
        }
    }

    .contenedor-cita{
        display: flex;
        flex-direction: column;
        align-content: center;
        background-color: #000000;
        color: #dee3ff;
        padding-bottom: 100px;
    }
    .cita{
        font-size: 2.5em;
        padding: 50px;
        font-family: 'Source Code Pro', monospace;
        font-style: italic;
        text-align: center;
    }

    .fa-solid, .fa-quote-right{
        color: #62c8bf;
        font-size: 2em;
    }

    @media (max-width: 600px) and{
        .cita {
            font-size: 2em;
        }
        .contenedor-nav{
            display: none;
        } 
        
    }
    @media (max-width:350px) {
        .cita{
            font-size: 1em;
        }
        .contenedor-nav{
            display: none;
        } 
    }

    .contenedor-proyectos{
        background-color: #bfb9f9;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        padding-bottom: 100px;
        /*padding-left: 15em;
        padding-right: 15em;*/

    }

    .posicion-proyectos{
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        padding-left: 15em;
        padding-right: 15em;
        
    }

    .proyectos{
        width: 15em;
        height: 15em;
        background-color: #ffffff;
        margin: 10px;
        padding: 20px;
        border-radius: 30px;
        text-align: center;
        box-shadow: #86c29a 2px 2px 5px;
        font-family: 'Rajdhani', sans-serif;

    }
    .proyectos:hover{
        box-shadow: #5bc8e4 2px 2px 5px;
        background-image: radial-gradient(circle, #bfb9f9, #85c3fa, #5bc8e4, #62c8bf, #86c29a);

    }
    .iconos, .fa-camera-movie{
        padding-top: 0.5em;
        font-size: 8em;
        align-self: center;
        color: #000000;
    }
   
    @media(max-width:800px){
        .posicion-proyectos{
            padding-left: 0;
            padding-right: 0;
        }
    }
    @media(max-width:500px){
        .img-proyectos{
            width: 15em;
            height: 10em;
        }
        .proyectos{
            font-display: none;
        }
        .contenedor-nav{
            display: none;
        } 
        
    }
    @media(max-width:300px){
        .img-proyectos{
            width: 10em;
            height: 5em;
        }
        .contenedor-nav{
            display: none;
        } 
    }
    
    .contenedor-formulario{
        background-color: #000000;
        display: flex;
        align-items: center;
        align-content: center;
    }
    
    .formulario{
        margin: 7em;
        background-color: #ffffff;
        width: 80vw;
        height: 80vh;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        padding: 5px;
        
    }
    
    .hijo-formulario{
        padding-top: 0;
        padding-left: 2em;
        padding-right: 2em;
        width: 50%;
        height: 20vh;
        font-family: 'Rajdhani', sans-serif;
        font-size: 1.5em;
        
    }
    .lista-izquierda{
        padding-left: 15em;
        list-style: none;
        text-decoration: none;
        text-align: left;
        padding-left: 0;
    }
    .titulo-form{
        font-size: 2.5em;
        margin-bottom: 0;
    }
    .boton-lista{
        border: transparent;
        background-color: #FFFFFF;
        color: #000000;
        font-size: 1.5em;
    }
    .boton-estilo{
        padding: 5px;
        color: #bfb9f9;
        background-color: transparent;
    }
    .boton-estilo :hover{
        padding: 5px;
        border-radius: 20px;
        background-color: #bfb9f9;
        color: #FFFFFF;
    }
    .vertical{
        display: flex;
        flex-direction: column;
    }
    
    .contenedor-nombres{
        display: flex;        
        justify-content: space-between;
        flex-direction: column;
    }
        
    .form-estilo{
        border-radius: 35px;
        background-color: #d8f0e8;
        border-color: transparent;
        padding-left: 1em;
    }
    .form-nombres{
        height: 3em;
        width: 13em;
        display: flex;
        flex-direction: column;
    }

    .form-email{
        height: 3em;
        
    }
    .form-mensaje{
        margin-top: 8px;
        padding-top: 0;
        height: 16em;
        border-radius: 30px;
        
    }
    
    #boton{
        margin-top: 10px;
        border: transparent;
        border-radius: 15px;
        width: 5em;
        height: 2em;
        background-color: #bfb9f9;
        font-family: 'Rajdhani', sans-serif;
    }
    #boton:hover{
        background-color: #85c3fa;
        color: #000000;
    }
    .contenedor-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2em;
        background-color: #000000;
        color: #85c3fa;
    }
    

    h4{
        font-family: 'Source Code Pro', monospace;

    }
    
    @media (max-width:900px) {
        .contenedor-formulario{
            background-color: #ffffff;
            height: 80em;
            display: flex;
            flex-direction: column;
            padding: 2em;
        }
        .formulario{
            margin-top: 0;
            border-radius: 0;
            width: 100vw;
            height: 50em;
            display: flex; 
            flex-direction: column;     
        }
        .hijo-formulario{
            width: 90vw;
            padding: 15px;
            margin-top: 0;
        }
        
        .lista-izquierda{
            display: flex;
            flex-wrap: wrap;
        }
        .form-mensaje, .form-email{
            width: 80vw;
        
    }
    .lista-iconos{
        width: 70vw;
        margin-left: 5px;
        display: flex;
        justify-content: space-around;   
    }
        
    }
    @media(max-width:700px){
        .lista-footer{
            display: none;
        }
        .lista-iconos{
            width: 70vw;
            margin-left: 5px;
            display: flex;
            justify-content: space-around;   
        }
        h4{
            width: 80vw;
            align-self: flex-start;
            margin-left: 2.3em;
        }
        .titulo-form{
            font-size: 1.5em;
        }
        /*.lista-nav{
            align-self: flex-start
        }*/
        
        
    }
    