body{
    margin: 0;
    background-color: #eefeff;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
header{
    position: sticky;
    top: 0;
    z-index: 5;
}
a{
    text-decoration: none;
    color: inherit;
}
nav{
    width: 100%;
    background-color: black;
    color: #A0D8B3;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    
}


.contenedor-nav{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 5;
    display: flex;
    justify-content: flex-end;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.lista-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-family: 'Rajdhani', sans-serif;
    width: 500px;
    margin-right: 30px;
    font-size: 17px;
}
.contenedor-mitades{
    text-align: left;
    align-items: center;
    margin-bottom: 150px;
}
.presentacion{
    display: flex;
    flex-direction: column;
    font-size: 1em;
}

.contenedor-img{
    display: flex;
    padding: 20px;
    
}

.parrafo-mitades{
    font-family: 'Source Code Pro', monospace;
    color: #86c29a;
}
img{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

h2 {
    font-family: 'Goldman', cursive;
}

h1{
    font-size: 5vw;
    font-family: 'Shrikhand', cursive;
    color: #2A0944;
    margin: 0;
}

/*.titulo{
    font-size: 5vw;
}*/

.contenedor-boton{
    background-color: rgb(28, 1, 39);
    width: 10em;
    height: 4em;
    color: #ffffff;
    border: transparent;
    font-size: 0.7em;
    padding: 18px 35px;
    border-radius: 50px;
    font-family: 'Source Code Pro', monospace;    
    
}
.contenedor-boton:hover{
    background-color: #A0D8B3;
    color: #000000;
}



.boton-size{
    align-self: flex-start;
}

.boton-centrado{
    display: flex;
    justify-content: center;

}

@media (max-width: 300px){
    .contenedor-boton {
        align-self: center;
    }
    .boton-size{
        align-self: center;
    }
}

@media (max-width: 338px) {
    .contenedor-mitades{
        display: flex;
        flex-direction: column;
        align-content: center;
        text-align: center;
    }
    .contenedor-boton {
            align-self: center;
    }
    .boton-size{
            align-items: center;
    }
    .contenedor-nav{
            display: none;
        }
    /*h1{
        font-size: 40px;
    }*/
}

@media (min-width: 300px) and (max-width: 1100px){
    .contenedor-mitades{
        display:flex;
        flex-direction: column;
        align-content: center;
        text-align: center;
    }
    .boton-size{
        align-self: center;
        text-align: center;
    }   
    .contenedor-nav{
        display: none;
    } 
}


/*escritorio*/
@media (min-width:1100px){
    .contenedor-mitades{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 150px;
    }
    .presentacion{
        margin-top: 150px;
        margin-bottom: 50px;
        font-size: 20px;
        align-self: flex-end;
    }
    .contenedor-img{
        width: 400px;
        height: 400px;
        align-self: center;
    }
}

.contenedor-seccion{
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
    margin: 0;
    
    
}
.conocimientos{
    background-color: #d8f0e8;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    
    /*margin-bottom: 100px;*/
}
/*.centrado{
    text-align: center;
}*/
.parrafo-seccion{
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Rajdhani', sans-serif;
    color: #000000;
}

.carta{
    background-color: #ffffff;
    width: 340px;
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    margin: 10px;
    border: 1px solid #d1d1d1;
    display: flex;
    flex-direction: column;
    align-items: center;   
    align-content: center;
    text-align: center;
    font-family: 'Goldman', cursive;
    
}

.posicion-articulos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
}
/*.caja-parrafo{
    padding-top: 5px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-size: 25px;
    font-size: 1.5em;
    
    /*font-family: 'Zen Antique Soft', serif;*/
    


/*.subtitulo{
    margin-top: 100px;
    font-size: 5vw;
}*/

.fa-html5, .fa-css3-alt, .fa-sass, .fa-js, .fa-react, .fa-git-alt{
    /*margin: 2px;*/
    padding-top: 60px;
    font-size: 130px; 
    align-self: center;
}
.fa-html5{
    color: #e54d26;
}
.fa-css3-alt{
    color: #418ec1;
}
.fa-js{
    color: #f0db4f;
}
.fa-sass{
    color: #cb699a;
}
.fa-react{
    color: #61dafb;
}
.fa-git-alt{
    color: #f34f29;
}

.h3{
    font-family: 'Goldman', cursive;
    margin-top:  0;
}

/*.caja-subtitulo{
    padding-top: 80px;
    padding-bottom: 80px;
    color: #3c1696;
}
.subtitulo{
    
    /*font-family: 'Goldman', cursive;
    font-family: 'DM Serif Display', serif;
    color: #210047;
    padding-bottom: 30px;
}*/
.titulo-seccion{
    padding-top: 200px;
    margin: 0;
    font-size: 5vw;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
}

/*tamaño minimo*/
@media (max-width: 300px){
    .carta {
        width: 230px;
        height: 190px;
    }

    .titulo-seccion{
        font-size: 1em;
    }

    .fa-html5, .fa-css3-alt, .fa-sass, .fa-js, .fa-react, .fa-git-alt{
        
        font-size: 70px; 
        align-self: center;
    }
}
/*tamaño mediano*/
@media (min-width: 300px) and (max-width: 600px) {
    .posicion-articulos {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    }

    .carta {
        width: 280px;
        height: 240px;
    }

    .titulo-seccion{
        font-size: 2em;
    }

    .fa-html5, .fa-css3-alt, .fa-sass, .fa-js, .fa-react, .fa-git-alt{
        
        font-size: 100px; 
        align-self: center;
    }
    }
    
    /*tamaño escritorio/tablet*/
    @media (max-width: 1000px) and (min-width: 600px) {
        .posicion-articulos {
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
        }
        /*.carta {
        width: 300px; 
        margin: 10px;
        }*/
        
    }

    .contenedor-cita{
        display: flex;
        flex-direction: column;
        align-content: center;
        background-color: #000000;
        color: #dee3ff;
        padding-bottom: 100px;
    }
    .cita{
        font-size: 3rem;
        padding: 50px;
        font-family: 'Source Code Pro', monospace;
        font-style: italic;
        text-align: center;
    }

    .fa-solid, .fa-quote-right{
        color: #210047;
        font-size: 2em;
    }

    @media (max-width: 600px) and{
        .cita {
            font-size: 2rem;
        }
    }
    @media (max-width:350px) {
        .cita{
            font-size: 1rem;
        }
    }

    .contenedor-proyectos{
        background-color: #e3fcff;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        padding-bottom: 100px;
    }

    .posicion-proyectos{
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        
    }
    
    .img-proyectos{
        width: 20em;
        height: 15em;
        text-decoration: none;
        border-style: none;
        }
    .proyectos{
        background-color: #ffffff;
        margin: 10px;
        padding: 20px;
        border-radius: 10px;
        border: 1px solid #ffffff;
        align-self: center;    
        text-align: center;
        font-family: 'Goldman', cursive;
        
    }

    @media(max-width:500px){
        .img-proyectos{
            width: 15em;
            height: 10em;
        }
        .proyectos{
            font-display: none;
        }
    }
    @media(max-width:300px){
        .img-proyectos{
            width: 10em;
            height: 5em;
        }
    }
    
    .contenedor-formulario{
        background-color: #000000;
        display: flex;
        justify-content: center;
    }
    
    .contenedor-flex{
        background-color: #ffffff;
        width: 80%;
        height: 800px;
        margin: 200px;
        border-radius: 20px;
        display: flex;
        justify-content: space-around;
    }
    .contenedor-izquierda, .contenedor-derecha{
        width: 40%;
        font-family: 'Rajdhani', sans-serif;
        font-size: 1.5em;
    }
    .lista-izquierda{
        list-style: none;
        text-decoration: none;
        margin-top: 50px;
        align-self: flex-start;
    }
    .lista-izquierda{
        text-align: left;
        padding-left: 0;
    }

    .titulo-form{
        font-size: 3em;
        margin-bottom: 0;
    }
    .boton-lista{
        border: transparent;
        background-color: #FFFFFF;
        color: #000000;
        font-size: 30px;
    }
    .boton-estilo{
        padding: 5px;
        color: #bfb9f9;
    }
    .boton-estilo :hover{
        padding: 5px;
        border-radius: 20px;
        background-color: #bfb9f9;
        color: #FFFFFF;
    }
    

    
    .form-group{
        display: flex;
        flex-direction: column;
    }
    .columna{
        display: flex;
        flex-direction: column;
    }
    .horizontal{
        display: flex;
        justify-content: space-between;
    }
    .vertical{
        display: flex;
        flex-direction: column;
    }
    .form-estilo{
        border-radius: 35px;
        background-color: #d8f0e8;
        border-color: transparent;
        padding-left: 1em;
    }
    .form-nombres{
        height: 3em;
        width: 13em;
    }
    .form-email{
        height: 3em;
    }
    .form-mensaje{
        margin-top: 8px;
        padding-top: 0;
        height: 20em;
        border-radius: 30px;
        
    }
    
    #boton{
        margin-top: 10px;
        border: transparent;
        border-radius: 15px;
        width: 5em;
        height: 2em;
        background-color: #bfb9f9;
        font-family: 'Rajdhani', sans-serif;
    }
    #boton:hover{
        background-color: #86c29a;
        color: #000000;
    }